body{ 
    text-align: center;
    font-family: 'Courier New', Arial, Helvetica, sans-serif, monospace;
    color: blueviolet;
}
#contenedor{
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  border: 2px solid rgb(142, 104, 141);
  border-right: 10px solid #FFF233;
}
