body{ 
    text-align: center;
    font-family: 'Courier New', Arial, Helvetica, sans-serif, monospace;
    color: blueviolet;
}
#cabecera{
    
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#contenedor{
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  border: 2px solid rgb(142, 104, 141);
  border-right: 10px solid #FFF233;
}
