body{ 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(203, 74, 186);
    padding-left: 5%;

    
}
#cabecera #imagen {
    width: 3em;
    vertical-align: middle;
}
#cabecera{
    background: rgb(72, 104, 176);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    
}
#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.9em;
}
#contenedor{
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  border: 2px solid rgb(142, 104, 141);
  
}
#pie{
    background-color: rgb(193, 147, 245);
    color:black;
    padding:0.5em;
}
